body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    height: 80px; /* Ajuste conforme necessário */
    margin-right: 15px;
}

form {
    margin-bottom: 20px;
}

#result {
    margin-top: 20px;
}

/* Estilizar a legenda */
  .legend {
    font-size: 14px; /* Tamanho da fonte */
    font-family: Arial, sans-serif; /* Fonte da legenda */
    color: black; /* Cor do texto da legenda */
    width: 100%;
  }

  /* Ajustar os itens individuais da legenda */
  .legend text {
    font-size: 14px; /* Tamanho do texto dos itens */
  }

  /* Ajustar espaçamento entre os itens */
  .legend g {
    margin-bottom: 10px; /* Espaçamento entre os itens */
    width: 100%;
  }

 /* Botão Padrão */
    button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 20px;
        background-color: gray;
        color: white;
        font-size: 16px;
        cursor: pointer;
        position: relative;
        margin: 2 10px;
    }

    button:disabled {
        background-color: lightgray;
        cursor: not-allowed;
    }

    /* Botão Play */
    #playRegionButton::before {
        content: "▶";
        font-size: 28px;
        margin-right: 8px;
    }

    /* Botão de Aplicar Corte */
    #cutButton::before {
        content: "✂";
        font-size: 28px;
        margin-right: 8px;
    }

    .audio-editor {
        text-align: center;
        margin-top: 20px;
    }

    .controls, .audio-controls {
        margin: 20px;
    }

    #waveform {
        border: 1px solid #ccc;
        height: 150px;
        width: 100%;
        margin: auto;
    }

table {
        width: 50%;
        margin: 20px auto;
        border-collapse: collapse;
        text-align: center;
      }
th, td {
        border: 1px solid #ddd;
        padding: 8px;
       }

th {
       background-color: #f4f4f4;
       font-weight: bold;
   }