{% extends "base.html" %}

{% block content %}
<div class="centered-container">
    <h2>Ferramenta para Detectar Patologias na Voz</h2>
    <p>Clique em um dos botões para ser direcionado à página desejada:</p>
    <div class="button-list">
        <button onclick="location.href='/page1'">Carregar áudio</button>
        <button onclick="location.href='/page2'">Gravar áudio</button>
        <button onclick="location.href='/page3'">Resultados DB</button>
        <button onclick="location.href='/page4'">Tutorial</button>
    </div>
</div>
<style>
    .centered-container {
        text-align: center;
    }
    .button-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Espaçamento entre os botões */
    }
    .button-list button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
</style>
{% endblock %}
