{% extends "base.html" %}

{% block content %}
<div class="centered-container">
    <h2>Ferramenta para Detectar Patologias na Voz</h2>
    <p>Selecione a opção desejada:</p>
    <div class="button-list">
        <button onclick="location.href='/page1'">Carregar áudio</button>
        <button onclick="location.href='/page2'">Gravar áudio</button>
        <button onclick="location.href='/page3'">Resultados DB</button>
        <button onclick="location.href='/page4'">Tutorial</button>
        <button onclick="localStorage.removeItem('consentGiven'); window.location.href='/consent';">Visualizar Termo</button>
        <button onclick="localStorage.removeItem('consentGiven'); window.location.href='/';">Sair</button>

    </div>
</div>
<style>
    .centered-container {
        text-align: center;
    }
    .button-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; /* Espaçamento entre os botões */
    }
    .button-list button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
</style>
<script>
  document.querySelectorAll("nav a").forEach(link => {
    link.addEventListener("click", (e) => {
      if (!localStorage.getItem("consentGiven")) {
        e.preventDefault();
        sessionStorage.setItem("pendingRedirect", link.href);
        alert("Você precisa aceitar o termo de consentimento antes de acessar esta página.");
        window.location.href = "/consent";
      }
    });
  });
</script>
{% endblock %}
